--index-url https://packages.dea.gadevs.ga/
--no-binary fc
datacube
eodatasets
digitalearthau
datacube-stats
fc
wofs
odc-ui
odc-index
odc-aws
odc-geom
odc-io
odc-ppt
odc-dscache
odc-dtools
odc-apps-dc-tools
