--extra-index-url https://packages.dea.ga.gov.au/
datacube
eodatasets
eodatasets3
dea_cogger
digitalearthau
datacube-stats
datacube-alchemist
fc
wofs>1.5,<1.6,!=1.5.5,!=1.5.6
odc-ui
odc-index
odc-aws
odc-geom
odc-algo
odc-io
odc-ppt
odc-dscache
odc-dtools
odc-apps-dc-tools
hdstats
